# Ignore IAR Embedded Workbench specific files
# *.ewp
# *.eww
# *.ewd
# *.dep
# *.bak
# *.pca
# *.crf
# *_make_log.txt
# *_make_log.html
# *.sct

# Ignore object files and output files
*.o
*.out
*.axf
*.bin
*.hex
*.map
*.elf
*.d

# Ignore backup files
*~

# Ignore IAR workbench settings folder
.settings
settings

# Ignore generated folders
Debug
Release
Obj

# Ignore Clino
.idea
